* {
  margin: 0;
  padding: 0;
  outline: 0;
}

:root {
  --bg-yellowgreen: #D7FC70;
  --bg-yellowgreen2: #C3E366;
  --bg-dark: #111111;
  --bg-dark2: #232323;
  --border: #636363;
  --success-color: #28AE29;
  --warning-color: #FEC629;
  --error-color: #EE4444;
}

body {
  background: var(--bg-dark2);
  color: white;
}

header {
  background: var(--bg-dark2);
  padding: 1em;
  display: flex;
  color: var(--bg-yellowgreen);
}
header img { width: 30px; }

main {
  background: var(--bg-dark);
  height: 100vh;
  border-radius: 2em 2em 0 0; /* 2em 2em 0 0 */
  padding: 1em;
  padding-top: 2em;
}

.categories-list {
  display: flex;
  overflow: auto;
  gap: .5em;
}

.categories-list .category {
  background: linear-gradient(to right bottom, var(--bg-yellowgreen), var(--bg-yellowgreen2));
  border-radius: 1em;
  height: 150px;
  width: 250px;
  flex-shrink: 0;
  display: flex;
  padding: .5em;
  color: black;
  overflow: hidden;
}

.category img {
  width: 90%;
  height: 90%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.profile-container .profile-tag {
  padding: .25em 0;
  display: flex;
  flex-direction: column;
  gap: .15em;
}

.profile-container .profile-tag input,
.profile-container .profile-tag select {
  background: var(--bg-dark2);
  border: 2px solid var(--bg-yellowgreen);
  border-radius: .5em;
  padding: .45em;
  color: white;
  font-size: 1.25em;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5em;
  margin: 1em 0;
}

.product-box {
  height: 280px;
  overflow: hidden;
  border: 2px solid var(--bg-yellowgreen);
  border-radius: .4em;
  position: relative;
}

.product-box .quantity {
  position: absolute;
  top: .25em; right: .25em;
  height: 20px; width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-dark);
  border-radius: 50%;
  color: var(--bg-yellowgreen);
}

.product-box img:first-child {
  width: 100%;
  height: 70%;
}

.product-box .product-title {
  height: 15%;
  overflow: hidden;
  padding: 0 .25em;
  border-bottom: 2px solid var(--bg-yellowgreen);
}

.product-box > div {
  display: flex;
  justify-content: space-between;
  padding: .5em;
  height: 10%;
  margin-bottom: .25em;
  align-items: center;
}

.product-box > div img {
  width: 20%;
  height: 100%;
}

/* Search styles */

.search-container {
  display: flex;
  flex-direction: column;
}

.search-input {
  background: none;
  border: 2px solid var(--bg-yellowgreen);
  padding: .25em;
  border-radius: .25em;
  font-size: 1.25em;
  color: var(--bg-yellowgreen2);
}

footer {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

footer .tags {
  background: var(--bg-yellowgreen);
  border-radius: 2.25em;
  display: flex;
  padding: .25em;
  animation: 1s footerShadow infinite;
  gap: 1em;
  padding: 0 .25em;
}

footer .tags .tag {
  padding: .75em 1em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  height: 2em; width: 2em;
  justify-content: center;
  transition: all .5s ease;
  align-items: center;
  color: black;
}

footer .tags .tag img {
  width: 30px;
}

@keyframes footerShadow {
  0%, 100% {
    box-shadow: 0 0 1em var(--bg-yellowgreen);
  } 50% {
    box-shadow: 0 0 .5em var(--bg-yellowgreen);
  }
}