<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello</title>
</head>
<body>
  <header>
    <h1>Hello, {{ name }} </h1>
    <a href="../download_data.html">Download base date</a>
    
    {% for i in coords %}
        <h3>{{ i }}</h3>
    {% endfor %}
    
    <h2>Updated at 14.06.2025 2.09</h2>
    <h2>Updated at 14.06.2025 2.19</h2>
    <h2>Updated at 14.06.2025 2.22</h2>
    <h2>Updated at 14.06.2025 2.29</h2>
    <h2>Updated at 14.06.2025 2.34</h2>
    <h2>Updated at 14.06.2025 2.43</h2>
    <h2>Updated at 14.06.2025 9.09</h2>
    <h2>Updated at 14.06.2025 9.19</h2>
    <h2>Updated at 14.06.2025 9.28</h2>
    <h2>Updated at 14.06.2025 9.36</h2>
    <h2>Updated at 14.06.2025 9.40</h2>
  </header>
</body>
</html>